/* File Name: style.css
	Author: Kyle Carlton Larson 11-30-2020
	Purpose: to provide the background image and styles for 'quit'
*/
body {
	font-family: Arial;
	background-color: #444;
	color: #FFF;
}

.header {
	padding: 60px;
	text-align: center;
	font-size: 30px;
	color: #444;
	min-height: 1800px;
}
img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

