/* File Name: style.css
	Author: Kyle Carlton Larson 11-30-2020
	Purpose: to provide the background image and styles for 'quit'
*/
body {
	font-family: Arial;
	background-color: #444;
	color: #FFF;
}

.header {
	padding: 60px;
	text-align: center;
	font-size: 30px;
	color: #000080;
	min-height: 1000px;
}

img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

#thirdDiv {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

#mediaDiv {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}